<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "site.css" %}</style>
    {% block head %}{% endblock %}
</head>

<body>
    <div id="main-menu-container">
        <nav class="main-menu">
            <div class="brand">
                <a href="/">
                    <img src="https://github.com/gradienttape.png" alt="gradient-tape-logo" />
                    <span>Gradient Tape</span>
                </a>
            </div>
            <div>
                <ul>
                    <li><a href="/posts_1.html">All Posts</a></li>
                    <li><a href="https://youtube.com/@gradienttape" target="_blank">Free Youtube Videos</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="main-container">
        <div class="main">
            {% block body %}{% endblock %}
        </div>
    </div>


    <div id="main-footer-container">
        <footer class="main-footer">
            <div>&copy; Gradient Tape</div>
        </footer>
    </div>
</body>

</html>