{% extends "base.html" %}

{% block head %}
<title>{{ title }} - Gradient Tape</title>
{% endblock %}

{% block body %}

<div class="base-section mt22">
    <h2 class="p22">{{ title }}</h2>
    <div class="recent-posts-container p22">
        {% for post in posts %}
        <div class="recent-post">
            <a class="title" href="/posts/{{ post.slug }}.html">{{ post.title }}</a>
            <div class="description">{{ post.description }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="post-pagination-wrapper">
        <div class="post-pagination-container">
            {% for page_index in range(1, total_pages + 1) %}
            {% if page_index == current_page %}
            <a class="current_page" href="/posts_{{ page_index }}.html">{{ page_index }}</a>
            {% else %}
            <a href="/posts_{{ page_index }}.html">{{ page_index }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}