:root {
    --border-color: rgb(232, 235, 238);
}

html,
body {
    margin: 0;
    width: 100%;
}

nav.main-menu {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
}

nav.main-menu .brand {
    display: flex;
    align-items: center;
    padding: 8px 22px;
}

nav.main-menu .brand img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    margin-right: 8px;
}

nav.main-menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav.main-menu li {
    margin: 0;
    padding: 8px 11px;
}