:root {
    --border-color: rgb(212, 215, 218);
    --background-color-hover: rgb(242, 245, 248);
    --card-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --content-max-width: 1200px;
    --transition-time: 0.2s;

    --yellow-color: #ffc93c;
    --dark-yellow-color: #ff9a3c;
    --footer-color: #f0f0f0;
}

::selection {
    color: black;
    background-color: var(--yellow-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    background-image: radial-gradient(#404344 1px, #fdfdfd 1px);
    background-size: 30px 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: var(--yellow-color);
    text-decoration: none;
}

a:hover {
    color: var(--dark-yellow-color);
    text-decoration: underline;
}

/* Utils */

.p22 {
    padding: 22px;
}

.mt22 {
    margin-top: 22px;
}

.base-section {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 22px;
}

/* Navbar */

#main-menu-container {
    border-bottom: 1px solid var(--dark-yellow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow-color);
    position: sticky;
    top: 0;
}

nav.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--content-max-width);
    flex: 1;
}

nav.main-menu .brand a {
    display: flex;
    align-items: center;
    padding: 8px 22px;
    text-decoration: none;
    color: inherit;
}

nav.main-menu .brand img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--dark-yellow-color);
    margin-right: 8px;
}

nav.main-menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-right: 11px;
}

nav.main-menu li {
    margin: 0;
}

nav.main-menu li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 8px 11px;
}

nav.main-menu li a:hover {
    background-color: var(--dark-yellow-color);
    border-radius: 8px;
    transition: var(--transition-time);
}

/* Footer */

#main-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--border-color);
    padding: 8px 22px;
    margin-top: 40px;
    background-color: var(--footer-color);
    font-size: 0.9rem;
    color: #8a8a8a;
}

footer.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: var(--content-max-width);
    box-sizing: border-box;
    flex: 1;
    padding: 8px 22px;
}

/* Main Content */

.main-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}

.main {
    max-width: var(--content-max-width);
    flex: 1;
}

/* Post */

.post img.cover {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.post .content {
    padding: 22px;
}

.featured-posts-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 22px;
    row-gap: 22px;
}

@media (max-width: 700px) {
    .featured-posts-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .featured-posts-container {
        grid-template-columns: 1fr;
    }
}


.featured-post {
    border-radius: 8px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: var(--transition-time);
    text-decoration: none;
    color: inherit;
}

.featured-post:hover {
    border-color: var(--dark-yellow-color);
    box-shadow: 2px 2px var(--dark-yellow-color);
    text-decoration: none;
}

.featured-post .cover {
    width: 100%;
    height: 100px;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.featured-post .title {
    padding: 8px;
    font-size: 1.25rem;
    font-weight: bolder;
}

.featured-post .description {
    padding-top: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.recent-posts-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 22px;
}

.recent-post a.title {
    font-size: 1.25rem;
    font-weight: bolder;
}

/* Pagination */
.post-pagination-wrapper {
    display: flex;
    justify-content: center;
    padding: 22px;
    border-top: 1px solid var(--border-color);
}

.post-pagination-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
}

.post-pagination-container .prev,
.post-pagination-container .next {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 8px 22px;
}

.post-pagination-container .prev {
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.post-pagination-container .next {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.post-pagination-container .disabled {
    background-color: var(--border-color);
}

.post-pagination-container .disabled {
    color: inherit;
    text-decoration: none;
    cursor: not-allowed;
}